@use "base/variables" as v;
@use "base/mixins" as m;

.experiences {

    &__heading {
        margin-bottom: 2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4,260px);
        gap: 1.5rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        @include m.sm { 
            grid-template-columns: repeat(2,1fr);
            overflow-x: unset;
        }

        @include m.lg { 
            grid-template-columns: repeat(3,1fr);
        }

    }

    .experience {
        scroll-snap-align: center;
        cursor: pointer;

        &__img {
            border-radius: .5rem;
        }

        &__title {
            margin: .5rem 0 0;
            font-size: 1.125rem;
            font-weight: 500;
        }

        &__description {
            margin: 0;
            font-weight: 300;
        }
        
    }

}